@charset "utf-8";

/* set my variables */
$bg-films: rgb(234, 229, 217);
$bg-books: rgb(126, 175, 148);
$bg-podcasts: rgb(115, 115, 115);

/* set my classes */
.full-height {
	height: 100%;
}

.bg-films {
	background-color: $bg-films;
}

.bg-books {
	background-color: $bg-books;
}

.bg-podcasts { 
	background-color: $bg-podcasts;
}

.tabs li {
	border-radius: 4px 4px 0px 0px;
}

/* these should be working in bulma but aren't for some reason */
/* .navbar-dropdown { */
	/* display: none; */
/* } */

/* .has-dropdown.is-hoverable:hover .navbar-dropdown { */
	/* display: flex; */
/* } */

/* .navbar-item.has-dropdown-up { */
	/* position: relative; */
/* } */

/* .navbar-item.has-dropdown-up .navbar-dropdown { */
	/* position: absolute; */
	/* bottom: 100%; */
	/* left: 0; */
	/* width: 100%; */
	/* background-color: white; */
	/* flex-direction: column; */
	/* align-items: center; */
/* } */

/* overwrite bulma styles */
.navbar .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

/* update bulma variables */
$tabs-border-bottom-width: 0px;
$tabs-link-hover-color: 'transparent';
$tabs-link-active-color: 'transparent';
$tabs-boxed-link-hover-background-color: 'transparent';
$tabs-boxed-link-active-background-color: 'transparent';

/* import bulma */
@import "./bulma/bulma.sass";
